<nav id="mainNave" class= "navbar navbar-default page-scroll navbar-fixed-top navbar-custom">
  <div class="container">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
    </button>
    <a class="navbar-brand" href="#mainHeader">Benjamin Kanouse</a>
    <div class="collapse navbar-collapse" id="navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li class="hidden">
          <a href="#mainHeader"></a>
        </li>
        <li class="page-scroll">
          <a href="#softwareSection">Software</a>
        </li>
        <li class="page-scroll">
          <a href="#mathSection">Mathematics</a>
        </li>
        <li class="page-scroll">
          <a href="#guitarSection">Guitars</a>
        </li>
        <li class="page-scroll">
          <a href="#starcraftSection">StarCraft</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- Header -->
<header id=mainHeader>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
         <img class="img-responsive" src="img/ben.jpg" alt="">
          <div class="intro-text">
            <span class="heading">Benjamin Kanouse</span>
            <hr class="star-light">
            <span class="skills">Software Engineer - Mathematician - Luthier - StarCraft Master</span>
            </div>
          </div>
      </div>
    </div>
</header>
<!-- Software -->
<section id=softwareSection>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Software</h2>
        <hr class="star-primary">
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4 portfolio-item">
        <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
          <div class="caption">
            <div class="caption-content">
              <i class="fa fa-search-plus fa-3x">Blog</i>
            </div>
          </div>
          <img src="img/sadpanda.gif" class="img-responsive" alt="">
        </a>
      </div>
      <div class="col-sm-4 portfolio-item">
        <a href="https://github.com/BenKanouse/ecc" class="portfolio-link" data-toggle="modal">
          <div class="caption">
            <div class="caption-content">
              <i class="fa fa-search-plus fa-3x">Elliptic Curve Cryptography</i>
            </div>
          </div>
          <img src="img/ecc.gif" class="img-responsive" alt="">
        </a>
      </div>
      <div class="col-sm-4 portfolio-item">
        <a href="https://rubygems.org/gems/minitest-bang/versions/1.0.4" class="portfolio-link" data-toggle="modal">
          <div class="caption">
            <div class="caption-content">
              <i class="fa fa-search-plus fa-3x">MiniTest Bang</i>
            </div>
          </div>
          <img src="img/bang.png" class="img-responsive" alt="">
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4 portfolio-item">
        <a href="http://cylindersofexcellence.r14.railsrumble.com/" class="portfolio-link" data-toggle="modal">
          <div class="caption">
            <div class="caption-content">
              <i class="fa fa-search-plus fa-3x">Cylinders of Excellence (Rails Rumble)</i>
            </div>
          </div>
          <img src="img/cylinders.png" class="img-responsive" alt="">
        </a>
      </div>
      <div class="col-sm-4 portfolio-item">
        <a href="http://www.liaisonedu.com/" class="portfolio-link" data-toggle="modal">
          <div class="caption">
            <div class="caption-content">
              <i class="fa fa-search-plus fa-3x">WebAdMIT</i>
            </div>
          </div>
          <img src="img/WebAdMIT.jpg" class="img-responsive" alt="">
        </a>
      </div>
    </div>
  </div>
  <br/>
</section>
<!-- Mathematics -->
<section class="success" id=mathSection>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Mathematics</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4 portfolio-item">
        <a href="img/lake_erie_poster.pdf" class="portfolio-link" data-toggle="modal">
          <div class="caption">
            <div class="caption-content">
              <i class="fa fa-search-plus fa-3x">Buoy in Lake Erie</i>
            </div>
          </div>
          <img src="img/lake.png" class="img-responsive" alt="">
        </a>
      </div>
      <div class="col-sm-4 portfolio-item">
        <a href="img/psu_birefringence.pdf" class="portfolio-link" data-toggle="modal">
          <div class="caption">
            <div class="caption-content">
              <i class="fa fa-search-plus fa-3x">Birefringence Persentation</i>
            </div>
          </div>
          <img src="img/pmd1.png" class="img-responsive" alt="">
        </a>
      </div>
      <div class="col-sm-4 portfolio-item">
        <a href="img/Birefringence_poster.pdf" class="portfolio-link" data-toggle="modal">
          <div class="caption">
            <div class="caption-content">
              <i class="fa fa-search-plus fa-3x">Birefringence Poster</i>
            </div>
          </div>
          <img src="img/pmd2.png" class="img-responsive" alt="">
        </a>
      </div>
    </div>
  </div>
  <br/>
</section>
<!-- Guitar -->
<section id=guitarSection>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Guitars</h2>
        <hr class="star-primary">
      </div>
    </div>
    <div class="row">
      <%= erb :item, locals: {title: "Guitar 1", image: "img/guitar1.jpg"} %>
      <%= erb :item, locals: {title: "Guitar 2 WIP", image: "img/guitar2.jpg"} %>
    </div>
  </div>
  <br/>
</section>
<!-- StarCraft -->
<section class="success" id=starcraftSection>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>StarCraft</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4 portfolio-item">
        <a href="http://us.battle.net/sc2/en/" class="portfolio-link" data-toggle="modal">
          <div class="caption">
            <div class="caption-content">
              <i class="fa fa-search-plus fa-3x">StarCraft</i>
            </div>
          </div>
          <img src="img/masters_no_name.png" class="img-responsive" alt="">
        </a>
      </div>
    </div>
  </div>
  <br/>
</section>

<footer class="text-center">
  <div class="footer-above">
    <div class="container">
      <div class="row">
        <div class="footer-col col-md-4">
          <h3>Location</h3>
          <br>Buffalo, NY</p>
        </div>
        <div class="footer-col col-md-4">
          <h3>Around the Web</h3>
          <ul class="list-inline">
            <li>
              <a href="https://www.linkedin.com/in/benjamin-kanouse-22a7ba74"><img src="img/linkedin.png" class="socal-icon"/></a>
            </li>
            <li>
              <a href="https://github.com/BenKanouse"><img src="img/github.png" class="socal-icon"/></a>
            </li>
            <li>
              <a href="https://twitter.com/kanobt61"><img src="img/twitter.png" class="socal-icon"/></a>
            </li>
              <a href="https://www.facebook.com/benjamin.kanouse"><img src="img/facebook.png" class="socal-icon"/></a>
            <li>
            </li>
          </ul>
        </div>
        <div class="footer-col col-md-4">
          <h3>Email</h3>
          <p>kanobt61@gmail.com</p>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-below">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          Copyright &copy; BenKanouse.com 2016
        </div>
      </div>
    </div>
  </div>
</footer>
<div class="container">
  <a>Hello World</a>
</div>
