<div class="col-sm-4">
  <a href=<%= href %> data-toggle="modal">
    <div class="caption">
      <div class="caption-content">
        <i class="fa fa-search-plus fa-3x"><%= title %></i>
      </div>
    </div>
    <img src=<%= image %> class="img-responsive" alt="">
  </a>
</div>
