<!DOCTYPE html>
<html>
  <head>
    <meta charset='UTF-8' />
    <title>Benjamin Kanouse</title>
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/header.css" rel="stylesheet">
    <link href="/css/footer.css" rel="stylesheet">
    <link href="/css/general.css" rel="stylesheet">
  </head>
  <body>
    <%= erb :navigation %>

    <%= yield %>

    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="http://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/freelancer.js"></script>
  </body>
</html>
