<!DOCTYPE html>
<html>
  <head>
    <meta charset='UTF-8' />
    <title>Benjamin Kanouse</title>
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/bootstrap-responsive.css" rel="stylesheet">
  </head>
  <body class='container'>
    <%= yield %>
    <script src="/js/bootstrap.min.js"></script>
  </body>
</html>
