<nav id="mainNave" class= "navbar navbar-default page-scroll navbar-fixed-top navbar-custom">
  <div class="container">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
    </button>
    <a class="navbar-brand" href="/#mainHeader">Benjamin Kanouse</a>
    <div class="collapse navbar-collapse" id="navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li class="hidden">
          <a href="/#mainHeader"></a>
        </li>
        <li class="page-scroll">
          <a href="/#softwareSection">Software</a>
        </li>
        <li class="page-scroll">
          <a href="/#mathSection">Mathematics</a>
        </li>
        <li class="page-scroll">
          <a href="/#guitarSection">Guitars</a>
        </li>
        <li class="page-scroll">
          <a href="/#starcraftSection">StarCraft</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
